.buttons h1 {
	margin-bottom: 30px;
}

.btn-1 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 24px;
	line-height: normal;
	font-weight: 500;
	height: 56px;
	color: #fff;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	width: 56px;
	border-radius: 50%;
	background: #007bff url(../img/filter.svg) 50% 50% no-repeat;
	cursor: pointer;
}

.btn-1:active {
	background: #006cdf url(../img/filter.svg) 50% 50% no-repeat;
}

.btn-2 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 24px;
	line-height: normal;
	font-weight: 500;
	width: 88px;
	background-color: #80bdff;
	border-radius: 100px;
	height: 56px;
	color: #fff;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	margin-top: 20px;
}

.btn-3 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 24px;
	line-height: normal;
	height: 72px;
	width: 72px;
	color: #fff;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	border-radius: 50%;
	background: #007bff url(../img/chatsCircle.svg) 50% 50% no-repeat;
	cursor: pointer;
	margin-top: 20px;
}

.btn-3:active {
	background: #006cdf url(../img/chatsCircle.svg) 50% 50% no-repeat;
}

.btn-red {
	position: absolute;
	right: 0;
	top: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 11px;
	line-height: normal;
	height: 16px;
	width: 24px;
	color: #fff;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	border-radius: 100px;
	background: #eb5757;
}

.btn-green {
	position: absolute;
	right: 0;
	bottom: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 11px;
	line-height: normal;
	height: 16px;
	width: 32px;
	color: #fff;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
	border-radius: 100px;
	background: #219653;
}

/* Start: 3 цветные кнопки с классом active */

.tape-setting-rateBtn {
	display: flex;
	margin-top: 20px;
}

.rateBtn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	font-size: 14px;
	outline: none;
	margin-right: 8px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 100px;
	cursor: pointer;
	flex: 0 0 67px;
	background: #fff;
}

.rateBtn.--lite {
	border: 1px solid #dc3545;
	color: #dc3545;
}

.rateBtn.--lite.active {
	background: #dc3545;
	color: #fff;
}

.rateBtn.--pro {
	border: 1px solid #28a745;
	color: #28a745;
}

.rateBtn.--pro.active {
	background: #28a745;
	color: #fff;
}

.rateBtn.--vip {
	border: 1px solid #ffc107;
	color: #ffc107;
}

.rateBtn.--vip.active {
	background: #ffc107;
	color: #fff;
}

.rateBtn.--rb65 {
	border: 1px solid #895fff;
	color: #895fff;
}

.rateBtn.--rb65.active {
	background: #895fff;
	color: #fff;
}

.rateBtn:focus {
	text-decoration: none;
}

/* End: 3 цветные кнопки с классом active */

.registration-btn {
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	min-width: 215px;
	height: 40px;
	font-size: 20px;
	padding: 0 20px;
	border: none;
	outline: none;
	text-decoration: none;
	border-radius: 23px;
	cursor: pointer;
	color: #fff;
	background: #f3773b;
}

.tariff-control-btn {
	display: inline-block;
	text-align: center;
	min-width: 250px;
	height: 48px;
	line-height: 48px;
	font-size: 17px;
	font-weight: 700;
	padding: 0 20px;
	border: none;
	outline: none;
	text-decoration: none;
	border-radius: 100px;
	color: #fff;
	background: rgba(38, 153, 251, 0.55);
}

/* Start: Кнопка переключения карточек */

.tape-cart-group {
	padding: 4px;
	background: #f4f4f4;
	border-radius: 4px;
	width: 100%;
	margin: 37px 0 40px;
}

.switch-button {
	width: 100%;
	height: 27px;
	text-align: center;
	will-change: transform;
	cursor: pointer;
	transition: 0.3s ease all;
}
.switch-button-case {
	display: inline-block;
	background: none;
	width: 33%;
	height: 100%;
	color: #a5abb7;
	position: relative;
	border: none;
	transition: 0.3s ease all;
	font-weight: 500;
}
.switch-button-case:focus {
	outline: none;
}

.switch-button .active-case {
	color: #61707d;
	font-weight: 500;
}

.switch-button .active {
	color: #61707d;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 33%;
	height: 100%;
	z-index: -1;
	transition: 0.3s ease-out all;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
}

/* End: Кнопка переключения карточек */

.language-btn-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 34px;
	border-radius: 100px;
	background: #408bd1 url(../img/ru-flag.svg) 50% 50% no-repeat;

	/* background: #408bd1 url(/portal/assets/img/navigation/ru-flag.svg) 50% 50% no-repeat; */
}

.menu-header__info {
	display: flex;
	align-items: center;
	background-color: #0f77d8;
	margin-top: 20px;
}

.menu-header__info-item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	height: 64px;
	background-color: transparent;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

.menu-header__info-item.active {
	background-color: #004d94;
}

.profile-menu-footer-links {
	display: flex;
	margin-top: 25px;
}

.profile-menu-footer-links a {
	margin: 0px 2px;
}

.appStore-box {
	position: relative;
}

.googlePlay-box {
	position: relative;
}

.appStore {
	z-index: 1;
}

.googlePlay {
	z-index: 1;
}

.appStoreDark {
	display: none;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 96px;
	height: 32px;
}

.googlePlayDark {
	display: none;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 96px;
	height: 32px;
}

.btn-4 {
	display: inline-block;
	text-align: center;
	min-width: 139px;
	height: 40px;
	line-height: 38px;
	font-size: 15px;
	font-weight: 700;
	padding: 0 5px;
	border: 1px solid #f58854;
	outline: none;
	border-radius: 5px;
	color: #f58854;
	background: #fff;
	transition: all 0.2s;
}

.leave-feedback-mobile-btn {
	margin-top: 20px;
}

.leave-feedback-mobile-radio {
	width: 100%;
	height: 56px;
	display: inline-block;
	line-height: 56px;
	font-size: 17px;
	letter-spacing: 0.25px;
	color: #63686b;
	background: transparent;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	margin-bottom: 12px;
}

.leave-feedback-mobile-radio input[type='radio'] {
	display: none;
}

.leave-feedback-mobile-radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 55px;
	margin-right: 0;
	line-height: 17px;
	user-select: none;
}
.leave-feedback-mobile-radio label:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 15px;
	bottom: -3px;
	border-radius: 50%;
	background: #efeff0;
}

.leave-feedback-mobile-radio input[type='radio']:checked + label:before {
	background: url(../img/radio-mobile.svg) 0 0 no-repeat;
}

/* Area */

.leave-feedback-mobile-area {
	padding: 0 24px;
}

.feedback-area {
	display: inline-block;
	font-size: 17px;
	line-height: 25px;
	height: 192px;
	resize: none;
	letter-spacing: 0.25px;
	padding: 16px;
	color: #9e9e9e;
	width: 300px;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	background: transparent;
	cursor: text;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.content-checkbox input {
	height: 0;
	width: 0;
	visibility: hidden;
}

.input + label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 14px;
	background: #e9e8ed;
	display: block;
	border-radius: 100px;
	position: relative;
}

.content-checkbox label:after {
	content: '';
	position: absolute;
	top: -5px;
	left: 2px;
	width: 24px;
	height: 24px;
	background: #fafafa;
	border-radius: 50%;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 1px 0px rgba(38, 153, 251, 0.12);
	transition: 0.3s;
}

.input:checked + label {
	background: #e9e8ed;
}

.input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
	background: #61b3ff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.input + label:active:after {
	width: 28px;
}

.main-header-top-search {
	display: inline-flex;
	align-items: center;
	height: 32px;
	min-width: 216px;
	padding: 0 12px;
	border-radius: 4px;
	background: #f5f5f5;
	margin-top: 30px;
}

.main-header-top-search input {
	background: transparent;
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #616161;
}

.main-header-top-search button {
	display: flex;
	margin-right: 4px;
}

/* Кнопка с тремя синими точками */
.points-blue-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	background: #dbedff;
}

.points-blue-btn span {
	border-radius: 50%;
	width: 4px;
	height: 4px;
	background-color: #1991eb;
	margin-right: 2px;
}

.points-blue-btn:last-child {
	margin-right: 0;
}

.status-default {
	display: inline-block;
	margin-right: 4px;
	padding: 0 10px;
	height: 20px;
	line-height: 21px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.4px;
	border-radius: 100px;
	color: #70a8dd;
	background: #dbedff;
}

/* Счетчик в хедере карточки на главной */
.item-counter {
	display: inline-flex;
	justify-content: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	padding: 0 6px;
	height: 20px;
	color: #bdbdbd;
	min-width: 20px;
	letter-spacing: 0.4px;
	border: 1px solid #bdbdbd;
	border-radius: 4px;
	background: #fafafa;
}

/* Сложная кнопка */

.sidebar__castings-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 296px;
	height: 64px;
	border: 1px solid #e7e7e7;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	padding: 0 11px;
	margin-bottom: 12px;
	background: #fff;
}

.sidebar__castings-item-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto 0 12px;
}

.sidebar__castings-item-top {
	display: flex;
	align-items: center;
}

.sidebar__castings-item-title {
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 0.5px;
	color: #212121;
}

.sidebar__castings-item-subtitle {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.color-dot {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin-left: 4px;
	background-color: #f2cbba;

	display: flex;
	align-items: center;
	justify-content: center;
}

.deletePopup-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 108px;
	height: 40px;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 5px;
	border-radius: 4px;
	color: #fff;
	background: #1991eb;
}

.sidebar-burger {
	margin-bottom: 64px;
}

.burger-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border: 1px solid #e7e7e7;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	background: #fff;
	transition: all 0.2s;
}
.burger-btn:hover {
	background: #f3f9fe;
	border: 1px solid #70a8dd;
}
.burger-btn:hover svg path {
	stroke: #70a8dd;
}

.card-large-btn {
	display: inline-flex;
	justify-content: center;
	height: 24px;
	min-width: 105px;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 2px;
	padding: 0 11px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	color: #fff;
	border: 2px solid transparent;
	background: #1991eb;
	transition: 0.2s ease all;
}

.card-large-btn:hover {
	background: #127fd1;
}

.card-large-btn:focus {
	background: #1991eb;
	border: 2px solid #7bb9f0;
}

.card-large-btn:active {
	background: #127fd1;
}

.card-large-btn.--accept {
	background: #df8282;
}

.card-large-btn.--accept:hover {
	background: #d65f5f;
}

.card-large-btn.--accept:focus {
	background: #df8282;
	border: 2px solid #ebb1b1;
}

.card-large-btn.--accept:active {
	background: #d65f5f;
}

.card-large-btn.--return {
	background: #009a61;
}

.card-large-btn.--return:hover {
	background: #008755;
}

.card-large-btn.--return:focus {
	background: #009a61;
	border: 2px solid #8ccab3;
}

.card-large-btn.--return:active {
	background: #008755;
}

/* Смена картинки при hover без дерганий -----------------------------------------------*/

.filter-dropdown-btn {
	display: inline-flex;
	align-items: center;
	min-width: 150px;
	font-size: 14px;
	padding: 0 12px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #eee;
	letter-spacing: 0.25px;
	color: #616161;
	background-color: #f5f5f5;
	transition: all 0.2s;
}

.filter-dropdown-icon {
	position: relative;
	width: 16px;
	height: 16px;
}

.filter-dropdown-icon svg {
	position: absolute;
	left: 0;
	top: 0;
}

.filter-dropdown-icon-second {
	opacity: 0;
	filter: alpha (opacity=0);
}

.filter-dropdown-btn:hover .filter-dropdown-icon .filter-dropdown-icon-first {
	opacity: 0;
	filter: alpha (opacity=0);
}

.filter-dropdown-btn:hover .filter-dropdown-icon .filter-dropdown-icon-second {
	opacity: 1;
	filter: alpha (opacity=100);
}
/* ------------------------------------------------------------------------------------ */
