code {
	display: block;
	font-size: 12px;
	color: #1991eb;
	word-wrap: break-word;
	margin-bottom: 8px;
}

.global {
	margin-top: 15px;
}

.global-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 15px;
}

.primary-title {
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #70a8dd;
}

.title-blackBluish-small {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #424242;
}

.text-blackBrown-large {
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.15px;
	color: #212121;
}

.text-blackBrown {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #212121;
}

.text-platinumGrey-regular {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.5px;
	color: #757575;
}

.text-platinumGrey-medium {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #757575;
}

.text-lightGrey-small {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}
.text-lightGrey-medium {
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.text-lightGrey-medium-higher {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.text-blackBluish {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #424242;
}

.text-blackBrown-small {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #212121;
}

.text-blackBrown-regular {
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #212121;
}

.text-lightGrey-regular {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #9e9e9e;
}

.text-lightGrey-extra-small {
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.text-blackBluish-small {
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.4px;
	color: #424242;
}

.text-blackBluish-small-high {
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.4px;
	color: #424242;
}

.text-blackBluis-regular {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #424242;
}

.text-blackBluis-large {
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0.15px;
	color: #424242;
}

.text-lightGrey-small-high {
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.4px;
	color: #9e9e9e;
}

.text-lightGrey-bd {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #bdbdbd;
}

.text-dullGrey {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #616161;
}

.text-dullGrey-small {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.4px;
	color: #616161;
}

/* Кнопки */

.global-buttons {
	margin-top: 20px;
}

.blue-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 120px;
	height: 24px;
	font-size: 13px;
	letter-spacing: 0.4px;
	border-radius: 4px;
	color: #fff;
	background: #1991eb;
	transition: 0.2s ease;
}

.blue-btn.--medium {
	height: 32px;
	font-size: 15px;
	letter-spacing: 0.5px;
}

.blue-btn.--large {
	height: 40px;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.blue-btn:hover {
	background: #127fd1;
}

.blue-btn:focus-visible {
	background: #1991eb;
	border: 2px solid #7bb9f0;
}

.blue-btn:active {
	background: #127fd1;
}

/* medium-secondary-btn */
.medium-secondary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 75px;
	height: 32px;
	font-size: 15px;
	letter-spacing: 0.5px;
	border-radius: 4px;
	border: 1px solid #1991eb;
	color: #1991eb;
	background: transparent;
	transition: all 0.2s;
}
.medium-secondary-btn:focus-visible {
	background: #f4f6f6;
	border: 2px solid #7bb9f0;
	color: #0064c1;
}
.medium-secondary-btn:hover,
.medium-secondary-btn:active {
	background: #f4f6f6;
	border: 1px solid #0064c1;
	color: #0064c1;
}

/* secondary-btn */
.secondary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 5px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	color: #757575;
	transition: 0.2s ease;
}
.secondary-btn:focus-visible {
	border: 2px solid #7bb9f0;
}
.secondary-btn:hover,
.secondary-btn:active {
	background: #fafafa;
	border: 1px solid #757575;
	color: #424242;
}

/* Прозрачная кнопка закрытия с border */
.close-btn-32 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 32px;
	height: 32px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background: transparent;
	transition: all 0.2s;
}

.close-btn-32:focus-visible {
	border: 2px solid #7bb9f0;
	background: #f4f6f6;
}
.close-btn-32:hover,
.close-btn-32:active {
	background: #e0e0e0;
	color: #424242;
}
.close-btn-32:hover svg path,
.close-btn-32:active svg path {
	transition: all 0.2s;
	stroke: #757575;
}

/* Area */
.area-field {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	width: 100%;
	height: 196px;
	resize: none;
	letter-spacing: 0.25px;
	padding: 12px;
	color: #424242;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background: #fafafa;
	cursor: text;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.area-field:hover {
	border: 1px solid #bdbdbd;
}

.area-field:focus-within {
	padding: 11px;
	border: 2px solid rgba(112, 168, 221, 0.7);
}

.area-field.--error {
	padding: 11px;
	border: 2px solid rgba(223, 130, 130, 0.7);
}

/* Accordeon */

.spoiler {
	max-width: 256px;
}

.spoiler-item {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background-color: #fafafa;
	margin-bottom: 8px;
}

.spoiler-item.active {
	border: 1px solid #9dc6ee;
}

.spoiler-item-header {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #424242;
	min-height: 40px;
	padding: 10px 12px;
	cursor: pointer;
}

.spoiler-item-header svg {
	transition: all 0.3s;
}

.spoiler-item-header.active svg {
	transition: all 0.3s;
	transform: rotate(180deg);
}

.spoiler-item-header.active svg path {
	fill: #1991eb;
}

.spoiler-item-header span {
	margin-right: auto;
}

.spoiler-item-body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.spoiler-item-body-content {
	padding: 10px 12px 12px;
}

/*Checkbox*/
.checkbox-button {
	margin-bottom: 30px;
	height: auto;
}

.checkbox-main {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.label-main {
	display: flex;
	padding: 9px 12px 9px 36px;
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.25px;
	background-color: #fff;
	position: relative;
	color: #9e9e9e;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
}

.label-main::before {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	border: 2px solid #dde3e8;
	border-radius: 50%;
	left: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.checkbox-main:checked ~ .label-main {
	background-color: #ebf5ff;
	padding: 8px 11px 8px 35px;
	color: #1991eb;
	border: 2px solid rgba(112, 168, 221, 0.7);
}

.checkbox-main:checked ~ .label-main::before {
	border: 5px solid #70a8dd;
	left: 11px;
}

.input-box {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 12px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background: #fafafa;
}

.input-box input {
	width: 100%;
	background: transparent;
	font-size: 14px;
	line-height: 38px;
	letter-spacing: 0.25px;
	color: #424242;
}

.input-box input::placeholder {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #9e9e9e;
}

.input-box:hover {
	border: 1px solid #bdbdbd;
}

.input-box:focus-within {
	padding: 0 11px;
	border: 2px solid rgba(112, 168, 221, 0.7);
}

.input-box:focus-within input {
	line-height: 36px;
}

.input-box.--error {
	padding: 8px 11px;
	border: 2px solid rgba(223, 130, 130, 0.7);
}

.spoiler-box {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background-color: #fafafa;
	margin-bottom: 8px;
}

.spoiler-box-header {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: #424242;
	min-height: 40px;
	padding: 10px 12px;
	cursor: pointer;
}

.spoiler-box-header span {
	margin-right: auto;
}

.spoiler-box-body {
	padding: 10px;
	display: none;
}

/* Кнопка удаления кастинга */

.delete-casting-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	background: #dbedff;
	transition: all 0.2s ease;
}

.delete-casting-btn:hover {
	background: #a0cfff;
}

.delete-casting-btn:hover svg path {
	stroke: #127fd1;
}

.close-circle-blue-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 32px;
	background: transparent;
	transition: 0.2s ease;
}

.close-circle-blue-btn:hover svg path {
	fill: #127fd1;
}

.btn-underline {
	font-weight: 700;
	line-height: 14px;
	border-bottom: 1px solid #1991eb;
	color: #1991eb;
	font-size: 14px;
	letter-spacing: 0.25px;
}

.btn-underline:hover,
.btn-underline:active {
	color: #106db3;
}

.btn-underline.--large {
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.5px;
}

.btn-underline.--disabled {
	color: #acd4fa;
	border-bottom: 1px solid #acd4fa;
	cursor: auto;
}

.btn-underline.--disabled:hover {
	color: #acd4fa;
	border-bottom: 1px solid #acd4fa;
}

/* Кнопки переключения */

.switch__wrapper {
	padding: 2px;
	background: #eee;
	border-radius: 4px;
	width: 100%;
}

.switch {
	display: flex;
	width: 100%;
	height: 27px;
	will-change: transform;
	cursor: pointer;
	transition: 0.3s ease all;
}

.switch__item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	font-size: 13px;
	letter-spacing: 0.4px;
	height: 100%;
	color: #616161;
	position: relative;
	border: none;
	transition: 0.3s ease all;
}

.switch__item:focus {
	outline: none;
}

.switch__slider {
	color: #61707d;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: -1;
	transition: 0.3s ease-out all;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
}


dropdown-text-js