/* 	Стилизация инпута */
.form-control {
	display: block;
	background-color: #333;
	width: 200px;
	min-height: 50px;
	line-height: 22px;
	border: 1px solid #5b5b5a;
	overflow: hidden;
	border-radius: 8px;
	color: #fff;
	outline: none;
	word-break: break-word;
	font-size: 18px;
	padding: 12px;
	pointer-events: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.form-control:focus {
	border-color: #fff;
	box-shadow: inset 0 0 0 1px #2f80ed;
	caret-color: #2f80ed; /* цвет курсора в инпуте */
}

.search {
	display: flex;
	align-items: center;
	min-height: 64px;
	margin-top: 20px;
	background-color: #2f80ed;
}

.burger-menu-search {
	background: rgba(38, 153, 251, 0.55);
	display: flex;
	align-items: center;
	height: 48px;
	padding: 0 16px;
	border-radius: 4px;
	margin-right: 30px;
}

.burger-menu-search input {
	background: transparent;
	width: 100%;
	border: 0;
	outline: none;
	font-size: 17px;
}

.burger-menu-search button {
	background: transparent;
	border: 0;
	cursor: pointer;
}

.burger-menu-search input::placeholder {
	color: #fff;
}

.burger-menu-search input:focus {
	box-shadow: none;
	color: #fff;
}

.search-box {
	display: flex;
	align-items: center;
	padding: 0 15px;
	width: 350px;
	border-radius: 20px;
	background: #efefef;
}

.search-box input {
	width: 100%;
	background: transparent;
	padding: 10px;
}
