*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

p {
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 20px;
}

h2 {
	margin-bottom: 30px;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.wrapper {
	margin-top: 20px;
	padding: 20px;
}

/* Блок по центру абсолют */

.block-1 {
	position: relative;
	width: 100px;
	height: 100px;
	border: 2px solid green;
}

.block-2 {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	height: 20px;
	width: 20px;
	background-color: #000;
}
/* _______________________________ */

/* Картинка фоном по центру блока */
.header {
	height: 426px;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.header:before {
	position: absolute;
	content: '';
	background-image: url(../img/cat.jpg);
	width: 320px;
	height: 200px;
	top: 0;
	left: 50%;
	margin-left: -160px; /* половина ширины картинки */
}
/* _______________________________ */

/* Увеличение зоны клика блока */
.click {
	position: relative;
	display: block;
	height: 50px;
	width: 50px;
	background: pink;
	cursor: pointer;
}

.click:before {
	content: '';
	position: absolute;
	display: block;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
}
/* _______________________________ */

.text {
	margin-top: 100px;
}

.buttons {
	margin-top: 100px;
}

.registration-btn {
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	min-width: 215px;
	height: 40px;
	font-size: 20px;
	padding: 0 20px;
	border: none;
	outline: none;
	text-decoration: none;
	border-radius: 23px;
	cursor: pointer;
	color: #fff;
	background: #f3773b;
}

.inputs {
	margin-top: 100px;
}

/* 	Стилизация инпута */
.form-control {
	display: block;
	background-color: #333;
	width: 200px;
	min-height: 50px;
	line-height: 22px;
	border: 1px solid #5b5b5a;
	overflow: hidden;
	border-radius: 8px;
	color: #fff;
	outline: none;
	word-break: break-word;
	font-size: 18px;
	padding: 12px;
	pointer-events: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.form-control:focus {
	border-color: #fff;
	box-shadow: inset 0 0 0 1px #2f80ed;
	caret-color: #2f80ed;
}

/* Текст в круге по центру */
.circle {
	background-color: #2f80ed;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	width: 30px;
	height: 30px;
	color: #fff;
}

.circle1 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	border: 2px solid #2699fb;
}

.circle1:hover {
	border: 2px solid #0475d5;
}

.circle1:hover svg path {
	stroke: #0475d5;
}

/* _______________________________ */

/* Анимация для открытия меню */
.chat__menu {
	position: absolute;
	overflow: hidden;
	min-width: 224px;
	background-color: #333;
	border-radius: 0px 10px 10px 10px;
	z-index: 301;
	visibility: hidden;
	transform: scale(0);
	transition: visibility 1s, transform 0.2s linear;
	&.active {
		visibility: visible;
		transition: visibility 1s, transform 0.2s linear;
		transform: scale(1);
	}
}

/* appendArrows: $('.counters-wrapper'), */

/* Сделать линию  */

.features-inner {
	position: relative;
}

.features-inner:after {
	position: absolute;
	content: '';
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #000;
}

.bootstrap {
	margin-top: 100px;
	margin-bottom: 100px;
}

.javascript {
	margin-top: 100px;
	margin-bottom: 100px;
}
