body {
	background: rgba(0, 0, 0, 0.5);
}

#tabs-inner {
	margin-top: 30px;
}

.tabs-container {
	width: 100%;
	display: flex;
	align-items: flex-start;
}

#tabs-nav {
	margin-right: -2px;
	margin-top: 19px;
	position: relative;
	flex: 0 0 40px;
}

a.tabs-menu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47px;
	height: 40px;
	background-color: #fafafa;
	text-decoration: none;
	border-right: 0;
	margin-bottom: 33px;
	border-radius: 6px 6px 0 0;
	z-index: 2;
	cursor: pointer;
	transform: rotate(-90deg);
}

a.tabs-menu svg {
	transform: rotate(90deg);
}

a.tabs-menu:before,
a.tabs-menu:after {
	display: block;
	content: ' ';
	position: absolute;
	top: 1px;
	height: 100%;
	width: 18px;
	background-color: #fafafa;
}

a.tabs-menu:before {
	right: -8px;
	-webkit-transform: skew(19deg, 0deg);
	border-radius: 0 6px 0 0;
	box-shadow: rgba(0, 0, 0, 0.1) 3px 2px 5px, inset rgba(0, 0, 0, 0.1)-1px 0;
}

a.tabs-menu:after {
	left: -8px;
	-webkit-transform: skew(-19deg, 0deg);
	border-radius: 6px 0 0 0;
	box-shadow: rgba(0, 0, 0, 0.1)-3px 2px 5px, inset rgba(0, 0, 0, 0.1) 1px 0;
}

a.tabs-menu.tabs-menu-active {
	background-color: #fff;
	z-index: 3;
}

a.tabs-menu.tabs-menu-active .tabs-img-1 circle,
a.tabs-menu.tabs-menu-active .tabs-img-1 path,
a.tabs-menu.tabs-menu-active .tabs-img-3 path,
a.tabs-menu.tabs-menu-active .tabs-img-4 path {
	stroke: #616161;
}

a.tabs-menu.tabs-menu-active .tabs-img-2 path {
	fill: #616161;
}

a.tabs-menu.tabs-menu-active .tabs-img-5 path:first-child,
a.tabs-menu.tabs-menu-active .tabs-img-5 path:nth-child(5),
a.tabs-menu.tabs-menu-active .tabs-img-5 path:nth-child(6),
a.tabs-menu.tabs-menu-active .tabs-img-5 path:nth-child(7) {
	fill: #616161;
}

a.tabs-menu.tabs-menu-active:after,
a.tabs-menu.tabs-menu-active:before {
	background-color: #fff;
}

.tabs-content {
	background-color: #fff;
	overflow: hidden;
	flex: 0 1 551px;
	line-height: 1.5;
	height: 370px;
}
.tabs-panel {
	display: none;
	min-height: 150px;
	overflow: auto;
	padding: 10px;
	height: 200px;
	font-size: 14px;
}
