.transition {
	transition: all 0.2s;
	transition: all 0.3s ease-in-out;
}

&:hover {
	color: #f58854;
}

.opacity {
	opacity: 0;
	visibility: hidden;

	opacity: 1;
	visibility: visible;
}

button {
	cursor: pointer;
	outline: none;
	background: transparent;
	border: 0;
	padding: 0;
}

.background {
	background: url(../images/icons/date-icon.svg) 0 0 no-repeat;
	min-height: 563px; /* высота обязательно */
}

.color {
	color: rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.7);
	color: #f15e17; /* цвет при ховере кнопки */
}

.border {
	border: 1px solid #bdbdbd; /* при hover на инпут */
	border-top: 1px solid #e3e3e3; /* Разделитель в дропдаунах */
	border: 1px solid transparent;
}

.transform {
	transform: translate(-50%, -50%);
	transform: translateY(-50%);
	transform: rotate(180deg);
}

.after {
	content: '';
	position: absolute;
}

/* для темной кнопки */
&:active {
	background: #fff;
	color: #63686b;
}

/* для кнопки далее при нажатии */
&:active {
	background: #0588f8;
}

.main-header-top-search {
	@media (max-width: 1280px) {
		flex: 0 0 112px;
		transition: flex 0.2s;
	}
}
