@import 'null';
@import 'buttons';
@import 'dropdown';
@import 'flex';
@import 'global';
@import 'input';
@import 'media';
@import 'popup';
@import 'portal';
@import 'project';
@import 'tabs';

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}

p {
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 20px;
}

h2 {
	margin-bottom: 30px;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.wrapper {
	margin-top: 20px;
	padding: 20px;
}

p {
	border-top: 1px solid #000;
}

.main__header {
	display: flex;
	justify-content: space-between;
}

/* Обнуление для кнопок */
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
}

/* Блок по центру абсолют */

.block-1 {
	position: relative;
	width: 100px;
	height: 100px;
	border: 2px solid green;
}

.block-2 {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	height: 20px;
	width: 20px;
	background-color: #000;
}
/* _______________________________ */

/* Картинка фоном по центру блока */
.header {
	height: 426px;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.header:before {
	position: absolute;
	content: '';
	background-image: url(../img/cat.jpg);
	width: 320px;
	height: 200px;
	top: 0;
	left: 50%;
	margin-left: -160px; /* половина ширины картинки */
}
/* _______________________________ */

/* Увеличение зоны клика блока */
.click {
	position: relative;
	display: block;
	height: 50px;
	width: 50px;
	background: pink;
	cursor: pointer;
}

.click:before {
	content: '';
	position: absolute;
	display: block;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
}
/* _______________________________ */

.text {
	margin-top: 100px;
}

/* Текст в круге по центру */
.circle {
	display: inline-block;
	font-size: 11px;
	line-height: 20px;
	height: 20px;
	color: #fff;
	min-width: 30px;
	padding: 0 5px;
	box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
	border-radius: 100px;
	background: #219653;
}

.circle1 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	border: 2px solid #2699fb;
}

.circle1:hover {
	border: 2px solid #0475d5;
}

.circle1:hover svg path {
	stroke: #0475d5;
}

/* _______________________________ */

/* Анимация для открытия меню */
.chat__menu {
	position: absolute;
	overflow: hidden;
	min-width: 224px;
	background-color: #333;
	border-radius: 0px 10px 10px 10px;
	z-index: 301;
	visibility: hidden;
	transform: scale(0);
	transition: visibility 1s, transform 0.2s linear;
	&.active {
		visibility: visible;
		transition: visibility 1s, transform 0.2s linear;
		transform: scale(1);
	}
}

/* appendArrows: $('.counters-wrapper'), */

/* Сделать линию  */

.features-inner {
	position: relative;
}

.features-inner:after {
	position: absolute;
	content: '';
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #000;
}

.javascript {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Слева и справа от заголовка линии */

.title {
	overflow: hidden;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 30px;
	text-align: center;
}

.title::before {
	margin-left: -90%;
}

.title::after {
	margin-right: -90%;
}

.title::before,
.title::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 90%;
	height: 1px;
	background: #000;
	border: solid #fff;
	border-width: 0 10px;
}

/* functions */

.out-1 {
	width: 100px;
	height: 100px;
	background: orangered;
}

.flex {
	margin-top: 50px;
}

.dashed {
	height: 2px;
	width: 46px;
	background: linear-gradient(to right, #000, #000 4px, transparent 4px, transparent);
	background-size: 8px 100%;
}
